var playtime = function (percent,duration) {
  var data = percent*duration/1000
  console.log(percent,data)
  if(data!=undefined){
    var fen = parseInt(data/60)
    var miao = ((data%60<=9?'0'+data%60:data%60)+'').split('.')[0]
    console.log(miao,data%60)
    return fen + ':' + miao
   }
}
module.exports = {
  playtime:playtime
}